@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>
<div class="text-info">
    <p>The Zenith Society is a family oriented non-for-profit organization that holds events during the week. Our group is mainly run by the visionary , Mr. John Bradford</p>
</div>